.navigation-links {
  display: flex;
  gap: 16px;
}

.navigation-links__link--active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.navigation-links__link {
  font-size: 1.5rem;
}
